body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20vw;
    padding-left: 20vw;
    padding-bottom: 2vw;
    text-decoration: none;

}

header li {
    text-align: center;
    list-style: none;
}

ul {
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: rgb(255, 91, 192);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a :visited {
    color: rgb(255, 91, 192);
}
a :hover {
    color: rgb(139, 255, 61);
}
a :active {
    color: rgb(255, 91, 192);
}