@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    height: 175vw;
}

h2 {
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    padding-left: 8vw;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 3vw;
    padding-bottom: 4vw;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4vw;
}

img {
    height: 60%;
    width: 30%;
}

#logo {
    height: 60%;
    width: 60%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30vw;
    padding-left: 30vw;
    text-decoration: none;
}

header li {
    text-align: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

ul {
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: black;

}


a :visited {
    color: rgb(255, 91, 192);
}
a :hover {
    color: rgb(139, 255, 61);
}
a :active {
    color: rgb(255, 91, 192);
}

footer {
    background-color: #C3E7A7;
    width: 100%;  
    padding-right: 1.5vw;
    margin-left: -1vw; 
    padding-top: 2vw;
}

#ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vw;

}

#log-txt {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

#small-log {
    height: 60%;
    width: 60%;
}

.footrtxt {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw;
}

.footrh {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
}

/*mobile*/

@media only screen and (max-width:1000px) {

    main {
        height: 1260vw;
    }

    h2 {
        font-size: 6vw;
        margin-top: -12vw;
    }

    .two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0vw;
        padding-left: 0vw;

    }
    
    .three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0vw;
    }

    img {
        height: 100%;
        width: 100%;
    }


    ul {
        font-size: 6vw;
    }

    header ul {
        justify-content: space-between;
        padding-right: 10vw;
        padding-left: 10vw;
        padding-bottom: 10vw;
        padding-top: 3vw;    
    }

    #logo {
        width: 100%;

    }

    #main-img {
        height: 220%;
        width: 110%; 
        margin-left: -6vw;
    }

    #main1 {
        background-image: url(.);
    
        margin-top: -3vw;
        height: 120vw;
    }
    
    #main2 {
        background-image: url();
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    footer  {padding-right: 4.1vw;
        margin-left: -2.1vw;
        margin-bottom: -1.8vw;}
    
    #ftr {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 3vw;
        padding-bottom: 5vw;
    }

    #small-log  {
        margin-left: 2vw;
        width: 40%;
        height: 40%;
    }
    
    #log-txt {
        display: flex;
        flex-direction: column;
        padding-top: 3vw;
    }
    
    .footrtxt {
        font-size: 4vw;
        margin-left: 4vw;
    }
    
    .footrh {
        font-size: 4.5vw;
        margin-left: 2vw;
    }
