@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main1 {
    margin-top: -3vw;
    height: 60vw;
}

#vid {
    position: absolute;
}

#logo {
    padding-left: 21vw;
     
}

img {
    height: 150%;
    width: 75%; 
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40vw;
    padding-left: 40vw;
    padding-bottom: 2vw;
    text-decoration: none;

}

header li {
    text-align: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

ul {
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding-bottom: 4vw;
}

a :visited {
    color: rgb(255, 91, 192);
}
a :hover {
    color: rgb(139, 255, 61);
}
a :active {
    color: rgb(255, 91, 192);
}


footer {
    background-color: #C3E7A7;
    width: 100%;  
    padding-right: 1.5vw;
    margin-left: -1vw; 
    padding-top: 2vw;
}

#ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vw;

}

#log-txt {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

#small-log {
    height: 60%;
    width: 25%;
}

.footrtxt {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw;
}

.footrh {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
}

