@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    padding-left: 21vw;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40vw;
    padding-left: 40vw;
    padding-bottom: 2vw;
    text-decoration: none;

}

header li {
    text-align: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 91, 192);
}

ul {
    font-size: 2vw;
}

a {
    text-decoration: none;
}


a :visited {
    color: rgb(255, 91, 192);
}
a :hover {
    color: rgb(139, 255, 61);
}
a :active {
    color: rgb(255, 91, 192);
}
