@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


main {
   display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: center; 
    padding: 4vw;
}

.temp{     
    justify-content: center; 
    padding: 4.5vw;
}

img {
    height: 105%;
    width: 105%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30vw;
    padding-left: 30vw;
    text-decoration: none;
}

header li {
    text-align: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 91, 192);
}

ul {
    font-size: 2vw;
}

#logo {
    height: 60%;
    width: 40%;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-size: 2vw;
    margin-bottom: -10px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-size: 1.5vw;
    margin-bottom: -10px;
}


a {
    text-decoration: none;
    color: black;
}

a :hover {
    color: rgb(255, 91, 192);
}
a :active {
    color: rgb(139, 255, 61);
}

