@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.items {
    display: flex;
    flex-direction: row;
    align-items:center;  
    padding-left: 3vw;
    padding-bottom: 5vw;
}

.text {
    display: flex;
    flex-direction: column;
    padding-right: 3vw;
    padding-bottom: 12vw;
    margin-bottom: -10px;
}

#logo {
    height: 80%;
    width: 40%;
}

h2 {
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: -10px;
}

h3 {
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vw;
}

.dim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.mat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vw;
    border-top: 1px solid black;
}



header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30vw;
    padding-left: 30vw;
    text-decoration: none;
}

header li {
    text-align: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

ul {
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: black;
}


a :hover {
    color: rgb(139, 255, 61);
}

a :active {
    color: rgb(255, 91, 192);
}

footer {
    background-color: #C3E7A7;
    width: 100%;  
    padding-right: 1.5vw;
    margin-left: -1vw; 
    padding-top: 2vw;
}

#ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vw;

}

#log-txt {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

#small-log {
    height: 60%;
    width: 25%;
}

.footrtxt {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw;
}

.footrh {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
}

/*mobile*/

@media only screen and (max-width:1000px) {

    ul {
        font-size: 8vw;
    }

    header ul {
        justify-content: space-between;
        padding-right: 10vw;
        padding-left: 10vw;
        padding-bottom: 10vw;
        padding-top: 3vw;    
    }

    #logo {
        padding-left: 0vw; 
        padding-bottom: 10vw;

    }

    #main-img {
        height: 220%;
        width: 110%; 
        margin-left: -6vw;
    }

    #main1 {
        background-image: url(.);
    
        margin-top: -3vw;
        height: 120vw;
    }
    
    #main2 {
        background-image: url();
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    footer  {padding-right: 4.1vw;
        margin-left: -2.1vw;
        margin-bottom: -1.8vw;}
    
    #ftr {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 3vw;
        padding-bottom: 5vw;
    }

    #small-log  {margin-left: 4vw;}
    
    #log-txt {
        display: flex;
        flex-direction: column;
        padding-top: 3vw;
    }
    
    .footrtxt {
        font-size: 4vw;
        margin-left: 4vw;
    }
    
    .footrh {
        font-size: 4.5vw;
        margin-left: 2vw;
    }

    .items {
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
        margin-top: -15vw;
    }

    .text {
        display: flex;
        flex-direction: column;
        padding-right: 0vw;
        padding-bottom: 0vw;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 6vw;
        margin-bottom: -1px;
    }

    p {
        font-size: 4vw;
    }

    .buy {
        margin-top: -5vw;
        margin-bottom: -8vw;
    }

    h3 {
        font-size: 6vw;
    }

    .dim {
        margin-bottom: 10vw;
    }

    img {
        width: 100%;
        height: 100%;
    }