body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


main {
   display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: center; 
    padding: 4vw;
}

.temp{     
    justify-content: center; 
    padding: 4vw;
}

img {
    height: 105%;
    width: 105%;
}

