@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


body {
    background-image: url(sky.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    font-family: 'Quicksand', sans-serif;
}

#filt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vw 10vw 3vw 10vw;
    margin-top: -2vw;
    
}

main {
   display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: center; 
    padding-left: 4vw;
    padding-right: 4vw;
}

.temp{     
    justify-content: center; 
    padding-right: 4.5vw;
    padding-left: 4.5vw;
    padding-bottom: 6.8vw;
    padding-top: -3vw;
}

img {
    height: 105%;
    width: 105%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30vw;
    padding-left: 30vw;
    text-decoration: none;
}

header li {
    text-align: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 91, 192);
}

ul {
    font-size: 2vw;
}

#logo {
    height: 80%;
    width: 40%;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-size: 2vw;
    margin-bottom: -10px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-style: oblique;
    font-size: 1.5vw;
    margin-bottom: -10px;
}


a {
    text-decoration: none;
    color: black;
}

a :hover {
    color: rgb(255, 91, 192);
}
a :active {
    color: #C3E7A7;
}

/*footer*/

footer {
    background-color: #C3E7A7;
    width: 100%;  
    padding-right: 1.5vw;
    margin-left: -1vw; 
    padding-top: 2vw;
}

#ftr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2vw;

}

#log-txt {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

#small-log {
    height: 60%;
    width: 25%;
}

.footrtxt {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw;
}

.footrh {
    color: gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
}


/*filter button*/

.choose {
    background-color: transparent;
    border: black 1px solid;
    padding-bottom: 2vw;
    font-size: 1.5vw;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vw;
    width: 7vw;
  }
  
  
  .choose:hover,
  .choose:focus {
    border-color: rgb(255, 91, 192);
    color: rgb(255, 91, 192);
  }
  
  .click {
    position: relative;
    display: inline-block;
  }
  
  .filter-content {
    display: none;
    position: absolute;
    background-color: #C3E7A7;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .filter-content a {
    color: black;
    padding: 0.8vw 0.8vw;
    display: block;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
  }
  
  .filter-content a:hover {
    background-color: rgb(255, 91, 192);
  }
  
  .show {
    display: block;
  }